# # hello-cron
# * * * * * echo "Hello world"
# * * * * * echo "Hello world 2" >> /var/log/cron.log 2>&1

# # Django Test
# * * * * * cd /app && python manage.py shell -c "from core.tasks import test_tasks; test_tasks(0)"

# Django Production
0 0 * * * cd /app && python3 manage.py shell -c "from core.tasks import launch_tasks; launch_tasks(8)"
0 12 * * * cd /app && python3 manage.py shell -c "from core.tasks import launch_tasks; launch_tasks(20)"
